/*
BLACK: #011e15
PINK:  #ffeaf4
RED: #f24000
BLUE: #dbe9e9*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #011e15;
}

a{
  font-family: "Century Gothic";
  font-size: inherit;
  letter-spacing: inherit;
  color: inherit;
  font-style: italic;
  text-decoration: none;
  text-shadow: 1px 1px #f24000;
}

a:hover{
  font-family: "Century Gothic";
  font-size: inherit;
  letter-spacing: inherit;
  font-style: italic;
  text-decoration: none;
  text-shadow: 1px 1px #f24000;
}

.container{
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.landing{
  background-color: #dbe9e9;
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header{
  display: flex;
  align-items: center;
  position: absolute;
  width: 23%;
  height: auto;
  justify-content: center;
}

#brand{
  width: 100%;
  height: 100%;
}

.timeline_container{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}

.timeline_item{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.year{
  font-family: "Century Gothic";
  font-size: 2em;
  letter-spacing: .1em;
  color: #fcfcfc;
  padding-bottom: 100px;
  width: 50%;
}

.timeline_header{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: auto;
  color: #fcfcfc;
}

.header_year{
  font-family: "Century Gothic";
  font-size: .8em;
  letter-spacing: .05em;
  color: #f24000;
  width: 100%;
  padding-bottom: 10px;
}

.header_title{
  font-family: "Century Gothic";
  font-size: 1.27em;
  text-shadow: 2px 2px #f24000;
  letter-spacing: .1em;
  padding-bottom: 5px;
  width: 100%;
}

.header_body{
  font-family: "Century Gothic";
  font-size: .8em;
  padding-bottom: 10px;
  width: 100%;
  text-align: justify;
  letter-spacing: .05em;
}

.header_link{
  font-family: "Century Gothic";
  font-size: .8em;
  letter-spacing: .05em;
  color: #f24000;
  padding-bottom: 100px;
  width: 100%;
  font-style: italic;
}
