/*
BLACK: #011e15
PINK:  #ffeaf4
RED: #f24000
BLUE: #dbe9e9*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;

}

.menu{
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffeaf4;
  height: 100vh;
  width: 100%;
  opacity: 0;
}

.menu:hover{
  opacity: 100;
}

.menucontainer{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.menusection{
  padding-bottom: 25px;
}

.menusection:last-child{
  padding-bottom: 0px;
}

.menuitem{
  font-family: "Century Gothic";
  font-size: .8em;
  letter-spacing: .2em;
  text-align: left;
  color: #011e15;
  width: auto;
  height: auto;
  margin-right: 100vh;
  padding-bottom: 17px;
}


.left{
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffeaf4;
  height: 100vh;
  width: 100%;
  z-index: -1;
}



.textbox{
  transform: rotate(90deg);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.header{
  font-family: "Century Gothic";
  font-size: 1.2em;
  letter-spacing: .35em;
  text-align: center;
  font-weight: bold;
  color: #011e15;
  width: 100vh;
  height: 100%;
  margin-top: 100vh;
}



.right{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 100vh;
  height: 100vh;
  background-color: #fcfcfc;
  overflow: scroll;
}

.container_images{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: auto;
  overflow: scroll;
}

.imagecontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.image{
  width: 100vh;
  height: 100vh;
  overflow: hidden;
}
