/*
BLACK: #011e15
PINK:  #ffeaf4
RED: #f24000
BLUE: #dbe9e9*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #dbe9e9;
}

@media only screen and (min-width:1200px){
  body{
    background-color: #f24000;
  }
}

@media only screen and (min-width:1200px){
  #mainheader_big,
  #mainheader_small{
    color: #ffeaf4;
    text-shadow: 2px 2px #011e15;
  }
}

.container{
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}

a{
  color:#f24000;
  font-family: faricy-new-web, sans-serif;
  font-style: normal;
  text-decoration: none;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: .05em;
}

a:hover{
  cursor: pointer;
  text-shadow: 1px 1px #f24000;
}

.link:hover{
  text-shadow: 1px 1px #ffeaf4;
  cursor: pointer;
}

.bold:hover{
  font-weight: 700;
  letter-spacing: .5em;
  text-shadow: none;
}

.undecorated:hover{
  text-shadow: none;
  font-style: italic;
}

.mainheader{
  width: 100%;
  justify-content: center;
  text-align: center;
  font-family: faricy-new-web, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: .5em;
  color: #f24000;
  text-shadow: 2px 2px #ffeaf4;
  padding-top: 40px;
  position: absolute;
  bottom: 50px;
}

@media only screen and (max-width:700px){
  #mainheader_big{
    opacity: 0;
  }
}

@media only screen and (min-width:701px){
  #mainheader_small{
    opacity: 0;
  }
}

/*NAVIGATION*/

.menuheader{
  display: flex;
  width: 200px;
  position: absolute;
  top: 50px;
  justify-content: center;
  z-index: 2;
  font-family: acta-display, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: #011e15;
  letter-spacing: .2em;
}

.menuheader_on{
  display: flex;
  width: 100vw;
  position: absolute;
  top: 50px;
  justify-content: center;
  z-index: 2;
  font-family: acta-display, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: .2em;
  color: #f24000;
}

.navigation_container{
  display: flex;
  width: 100vw;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  background-color: #011e15;
  z-index: 1;
}

.navigation{
  width: 100vw;
  height: 100%;
  text-align: center;
}

#navigation_text{
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  position: absolute;
  top: 120px;
  height: auto;
  background-color: #011e15;
}

.pleasework{
  background-color: #011e15;
}

.navigation_item{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: faricy-new-web, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: .1em;
  padding: 20px;
  color: #f24000;
}

.navigation_itemheader{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation_itemheader:hover{
  cursor: pointer;
  text-shadow: 1px 1px #f24000;
}

.navigation_itemheader:active{
  cursor: pointer;
  text-shadow: 1px 1px #f24000;
}

.title{
  color: #dbe9e9;
}

.navigation_item:first-child{
  padding: 0px 10px 20px 10px;
}

.navigation_item:last-child{
  padding: 0px 10px 50px 10px;
}

.navigation_specificitem{
  padding: 5px 0px;
  display: none;
}

.navigation_specificitem:first-child{
  padding: 0px;
}

.plus{
  font-weight: 500;
  font-style: italic;
  font-size: 13px;
  font-weight: 500;
  color: #ffeaf4;
  width: 25%;
}

.workinformation{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  font-family: faricy-new-web, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  font-style: italic;
  color: #dbe9e9;
  letter-spacing:.05em;
  padding: 0px 30px;
  line-height: 1.5em;
}

.see_designs{
  font-size: 15px;
  padding-top: 10px;
  font-family: acta-display, serif;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  letter-spacing:.15em;
}

@media only screen and (min-width: 700px){
  .workinformation{
    width: 75%;
  }
}

@media only screen and (min-width: 1200px){
  .workinformation{
    width: 50%;
  }
}

@media only screen and (min-width: 700px){
  .see_designs{
    padding-top: 20px;
  }
}
